main {
    min-height: calc(100vh - 160px);
  }

#contenedor div {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

#contenedor img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

  