main {
    color: rgb(44, 108, 164);
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh - 160px);
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se distribuyan en varias filas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
}

.card {
    color: rgb(44, 108, 164);
    background-color: rgb(255, 255, 255);
    height: 300px; /* Altura de la tarjeta */
    width: 400px; /* Ancho de la tarjeta */
    margin: 10px; /* Espaciado entre tarjetas */
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Oculta el desbordamiento */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para un efecto de profundidad */
}

.card img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
    max-height: 150px; /* Altura máxima para la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
}

.card-body {
    color: rgb(44, 108, 164)ue;
    background-color: white;
    flex: 1; /* Permite que el cuerpo de la tarjeta ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido al principio */
    align-items: center; /* Centra el texto horizontalmente */
    padding: 10px; /* Espaciado interno */
    overflow-y: auto; /* Permite el scroll vertical */
    max-height: calc(100% - 160px); /* Altura máxima para el cuerpo */
}

footer {
    color: rgb(44, 108, 164);
    background-color: white;
}
